#about {
  background: url("https://www.fev3r.com/assets/images/Pattern-3.png"),
    no-repeat;
  background-size: cover;

  padding-bottom: 50px;
}

.about-img-card {
  text-align: center;
}

.about-text-card {
  width: 80% !important;
}

.about-img-card img {
  height: 450px;
  width: 80%;
  object-fit: cover;
  border-radius: 50px;
  object-position: right;
}

.about-text-card p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.3px;
}

.about-txt-title {
  font-size: 35px !important;
  letter-spacing: 1.8px;
}

@media (max-width: 1020px) {
  .about-text-card {
    width: 100% !important;
  }
  .about-img-card img {
    width: 100%;
    object-position: center;
    height: 300px;
  }
}
