.hero {
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Sora";
  .line {
    height: 0px;
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    color: transparent;
    position: relative;
    @media (max-width: 850px) {
      display: none;
    }
    svg {
      width: 100%;
      height: 500px;
      position: absolute;
      top: -250px;
      fill: #fff !important;
      color: #fff !important;
      path {
        fill: #fff !important;
        color: #fff !important;
        stroke-width: 0px;
      }
    }
    .box {
      height: 40px;
      width: 100%;
      position: relative;
      top: -20px;
      z-index: 1;
      &:hover {
        height: 500px;
        top: -250px;
      }
    }
  }
  &__wrapper {
    position: relative;
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 850px) {
      flex-direction: column-reverse;
      gap: 3rem;
    }
    .herosvg {
      position: absolute;
      opacity: 0.75;
      z-index: 0;
      @media (max-width: 850px) {
        display: none;
      }
      &:nth-child(1) {
        top: 40%;
        left: 54%;
      }
      &:nth-child(2) {
        top: 5%;
        right: 10%;
      }
      &:nth-child(3) {
        top: 65%;
        right: 1%;
      }
    }
    &_text {
      width: 40%;
      z-index: 1;
      @media (max-width: 850px) {
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: start;
        flex-direction: column;
      }
      h1 {
        max-width: 600px;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        text-transform: capitalize;
        color: var(--p-text-primary);
        @media (max-width: 850px) {
          font-size: 40px;
        }
        @media (max-width: 600px) {
          text-align: center;
          font-size: 32px;
        }
        span {
          &:nth-child(1) {
            font-weight: 800;
          }
          &:nth-child(2) {
            font-weight: 800;
            color: var(--p-text-primary);
            -webkit-text-fill-color: var(
              --primary-color
            ); /* Will override color (regardless of order) */
            -webkit-text-stroke: 2px;
          }
          &:nth-child(3) {
            font-weight: 800;
          }
        }
      }
      p {
        color: var(--descr-color);
        margin-top: 2rem;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        @media (max-width: 600px) {
          text-align: center;
        }
      }
      &_socials {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        .testingButton {
          position: relative;
          width: 140px;
          height: 50px;
          border-radius: 4px;
          outline: none;
          border: 1px solid black;
          background-color: transparent;
          overflow: hidden;
          &::before {
            content: "";
            position: absolute;
            top: var(--y);
            left: var(--x);
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-radius: 50%;
            background: red;
            transition: width 0.5s, height 0.5s;
          }
          &:hover::before {
            width: 500px;
            height: 500px;
          }
        }
        @media (max-width: 600px) {
          justify-content: center;
        }
        &_social {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          font-size: 22px;
          color: var(--p-text-primary);
          border-radius: 4px;
          background-color: transparent;
          outline: none;
          border: 2px solid var(--p-text-primary);
          cursor: pointer;
          @media (max-width: 600px) {
            width: 55px;
            height: 55px;
          }
          span {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.3s linear;
            -webkit-transition: 0.3s linear;
            -moz-transition: 0.3s linear;
            -ms-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            background-color: var(--p-text-primary);
            clip-path: circle(3rem at 50% 200%);
            @media (max-width: 600px) {
              clip-path: circle(3.75rem at 50% 200%);
            }
          }
          &:hover::before {
            clip-path: circle(100%);
          }
          &:not(:hover)::before {
            animation-name: animateBtnBg;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
          }
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    &_image {
      width: 55%;
      display: flex;
      justify-content: start;
      align-items: center;
      z-index: 0;
      @media (max-width: 850px) {
        width: 100%;
        margin: 20px 0 -10px 0 !important;
      }
      img {
        width: 100% !important;
        object-fit: cover !important;
        border-radius: 50% !important;
        border: 3px solid var(--p-text-primary);
        height: 100vh !important;
        filter: grayscale(50%) !important;
        transform: scaleX(-0.99) !important;
        @media (max-width: 850px) {
          height: auto !important;
        }
      }
    }
  }
}

@keyframes animateBtnBg {
  0% {
    clip-path: circle(100%);
  }
  99.9% {
    clip-path: circle(3rem at 50% -200%);
  }
  100% {
    clip-path: circle(3rem at 50% 200%);
  }
}
