.base {
  display: grid;
  padding: 3.5rem;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  background: #1b2259;
  border-radius: 10px;
}

.contact * {
  color: #fff;
}

.contact-header h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 17px;
}

.info {
  width: 75%;
  padding: 3rem 0;
  list-style: none;
}

.info li {
  padding: 1rem 0.3rem;
  border-style: solid;
  border-color: #1b2259;
  margin: 10px 0;
}

.info li:hover {
  background: #222b6d;
  border-style: solid;
  border-color: #234ae2;
  padding: 1rem 1.2rem;
  border-radius: 10px;
  transition: 0.4s;
}

.info i {
  margin-right: 1.5rem;
  color: #234ae2;
}

.info a {
  color: inherit;
  text-decoration: none;
}

.social-div {
  padding-left: -10px;
}

.social {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  padding-left: 3rem;
  list-style: none;
}

.social li {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem 0 0;
  height: 65px;
  width: 65px;
  font-size: 1.5rem;
  border-radius: 50%;
}

.social a {
  color: inherit;
}

.social i {
  position: absolute;
  top: 20px;
  left: 21px;
}

.social li:hover {
  background-color: #234ae2;
  transition: 0.4s;
}

ul.social {
  margin: 0;
  padding: 0;
}

.form-div {
  justify-content: start;
  height: 100%;
  color: #1b2259;
  background: #f9fafc;
  border-radius: 10px;
}

.form-div form {
  width: 100% !important;
  padding: 2rem;
}

.form-div label {
  font-weight: bold;
}

.form-div input {
  margin: 7px 0 20px 0;
  padding: 5px 10px 5px 50px;
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: #d6d6d6;
  border-radius: 5px;
  border-width: 2px;
  font-size: 20px;
  box-sizing: border-box;
}

.form-div .inputWithIcon {
  position: relative;
}

.form-div .inputWithIcon input:focus {
  outline: none;
  border-color: #234ae2;
}

.form-div .inputWithIcon input:focus + i {
  color: #234ae2;
}

.form-div .inputWithIcon i {
  position: absolute;
  top: 40px;
  left: 10px;
  padding: 9px 8px;
  color: #d6d6d6;
}

.form-div textarea {
  width: 100%;
  height: 150px;
  margin: 7px 0 30px 0;
  padding: 15px 10px 5px 16px;
  border-radius: 5px;
  border: 2px solid #d6d6d6;
  font-size: 20px;
  box-sizing: border-box;
  resize: none;
}

.form-div textarea:focus {
  outline: none;
  border: 2px solid #234ae2;
}

.form-div button {
  padding: 1rem 3rem;
  color: #f9fafc;
  background: #234ae2;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.form-div center {
  text-align: end !important;
}

@media (max-width: 1200px) {
  .base {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .contact {
    padding: 10px;
  }

  header {
    width: 100%;
  }
  .info {
    width: 90%;
  }

  .info i {
    margin-right: 0;
  }

  .info li a {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .info li i {
    font-size: 16px;
  }

  .social-div {
    padding-left: 0;
  }

  .social {
    padding-left: 0;
    margin-bottom: 20px !important;
  }

  .social a {
    color: inherit;
  }

  .social i {
    position: absolute;
    top: 20px;
    left: 21px;
  }

  .form-div {
    justify-content: start;
    height: 100%;
    border-radius: 10px;
  }

  .form-div form {
    padding: 30px 15px !important;
  }

  .form-div input {
    margin: 0;
    padding: 0 0 0 35px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-width: 2px;
    margin-top: 7px !important;
    margin-bottom: 15px !important;
    font-size: 20px;
    box-sizing: border-box;
  }

  .form-div .inputWithIcon {
    position: relative;
  }

  .form-div .inputWithIcon i {
    position: absolute;
    top: 45px;
    left: 10px;
    padding: 0;
    color: #d6d6d6;
  }

  .form-div textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 7px !important;
    margin-bottom: 15px !important;
    border-radius: 5px;
    border-width: 2px;
    font-size: 20px;
  }

  .form-div button {
    margin-left: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
}
