.skills {
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Sora";
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      position: relative;
      font-size: 48px;
      font-weight: 400;
      color: var(--p-text-primary);
      span {
        font-weight: 800;
      }
      svg {
        transform: scale(0.75);
        @media (max-width: 457px) {
          display: none;
        }
        &:nth-child(1) {
          transform: scale(0.75) rotate(160deg);
          @media (max-width: 550px) {
            transform: scale(0.3) rotate(160deg);
          }
        }
        @media (max-width: 550px) {
          transform: scale(0.3);
        }
      }
    }
    &_cards {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 5rem;
      margin-top: 3rem;
      @media (max-width: 461px) {
        justify-content: center;
      }
      svg {
        position: absolute;
        @media (max-width: 850px) {
          display: none;
        }
        &:nth-child(1) {
          bottom: 0%;
          left: 0%;
          transform: scale(0.75);
        }
        &:nth-child(2) {
          top: -7%;
          right: 2%;
        }
      }
      &_card {
        position: relative;
        &:hover {
          .skills__wrapper_cards_card_content {
            color: var(--text-hover) !important;
            h1 {
              color: var(--text-hover) !important;
            }
            &:before {
              clip-path: circle(100%) !important;
            }
          }
        }
        transition: 0.3s linear;
        &_content {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 2rem;
          width: 185px;
          height: 185px;
          @media (max-width: 457px) {
            width: 220px;
            height: 220px;
          }
          border: 2px solid var(--p-text-primary);
          border-radius: 4px;
          color: var(--p-text-primary);
          z-index: 3 !important;
          transition: 0.1s linear;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--p-text-primary);
            clip-path: circle(4rem at 0% 0%);
            z-index: -1;
            transition: 0.3s linear;
          }
          svg {
            position: relative;
            @media (max-width: 850px) {
              display: flex;
            }
          }
          h1 {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: -0.4px;
            color: var(--p-text-primary);
            transition: all 0.1s linear;
          }
        }
        &_outer {
          width: 193px;
          height: 193px;
          border: 2px solid var(--p-text-primary);
          position: absolute;
          top: -8px;
          left: 0px;
          border-radius: 4px;
          z-index: 0 !important;
          @media (max-width: 457px) {
            width: 230px;
            height: 230px;
            top: -10px;
          }
        }
        &_outer2 {
          width: 193px;
          height: 193px;
          border: 2px solid var(--p-text-primary);
          position: absolute;
          top: 0px;
          right: 0px;
          border-radius: 4px;
          z-index: 0 !important;
          @media (max-width: 457px) {
            width: 230px;
            height: 230px;
          }
        }
        // &:hover{
        // color: var(--primary-color);
        // h1{
        // color: var(--primary-color);
        // }
        // }
      }
    }
  }
}
