#hero {
  width: 100%;
  height: 100vh;
  background: url("../../images/bg.jpg"), repeat;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
}

#hero .hero-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

#hero .hero-txt {
  width: 40%;
}

#hero .icons {
  display: flex;
  margin-top: 20px;
}

#hero .icon {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
  background: radial-gradient(circle, #30f 0, #00ccff 100%);
  padding: 5px 10px;
  border-radius: 10px;
}

#hero h2 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 1.2px;
}

#hero p {
  color: #fff;
  font-size: 18px;
}

#hero h1 {
  background: radial-gradient(circle, rgb(0, 81, 255) 0, #00e1ff 100%);
  color: transparent;
  background-clip: text;
  letter-spacing: 1.2px;
  -webkit-background-clip: text;
  margin: 5px 0;
  font-size: 85px;
}

#hero .hero-img {
  width: 50%;
  display: flex;
  justify-content: end;
  padding-right: 80px;
}

#hero .image-card {
  border: 5px solid #fff;
  padding: 0 15px 0 3px;
  border-radius: 50% 50% 0 0;
  background: #0000006a;
  backdrop-filter: blur("10px");
  overflow: hidden;
}

.hero-me {
  transition: 0.3s all !important;
  width: 400px;
  height: 400px;
  transform: scale(1.03);
}

.hero-me:hover {
  transform: scale(1.13);
}

@media (max-width: 1022px) {
  #hero {
    height: auto !important;
  }
  #hero .hero-row {
    display: block;
    height: auto;
    padding: 80px 0;
  }

  .hero-txt {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center;
  }

  #hero h1 {
    font-size: 50px;
  }

  .hero-me {
    width: 300px;
    height: 300px;
  }

  .hero-txt .icons {
    display: flex;
    justify-content: center;
  }

  .hero-img {
    width: 100% !important;
    justify-content: center !important;
    padding-right: 0 !important;
    margin: 40px 0;
  }
}
