#skills {
  background: url("../../images/skills-bg.png");
  background-size: cover;
  padding: 40px 0;
}

#skills .container {
  text-align: center;
  color: #fff !important;
}

#skills .skill {
  user-select: none;
}

.slick-slider .slick-next {
  right: 0 !important;
  position: absolute !important;
  background-color: transparent !important;
}
.slick-slider .slick-prev {
  left: 0;
  font-size: 20px !important;
  position: absolute !important;
  background-color: transparent !important;
}
