/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Projects/style.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
.style_main__DzFFd {
  position: relative;
  padding: 40px 0;
  min-height: 100vh;
}
.style_main__DzFFd h1:nth-of-type(1) {
  text-align: center;
  font-family: "Sora";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
  color: var(--p-text-primary);
}
.style_main__DzFFd h1:nth-of-type(1) span {
  font-weight: 800;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Experiences/style.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_experiences__LqadY {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--secondary-color);
  color: white;
}
.style_experiences__wrapper__C6GdO {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.style_experiences__wrapper_cards__BJrr0 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 850px) {
  .style_experiences__wrapper_cards__BJrr0 {
    width: 100%;
  }
}
.style_experiences__wrapper_cards_card__Rsgkq {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 24px;
  border-radius: 10px;
  border: 1px solid var(--p-text-secondary);
  gap: 1rem;
}
@media (max-width: 850px) {
  .style_experiences__wrapper_cards_card__Rsgkq {
    padding: 20px 18px;
  }
}
.style_experiences__wrapper_cards_card_top__jPtEK {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.style_experiences__wrapper_cards_card_top__jPtEK img:not(#style_blackphoto__x4DKb) {
  object-fit: contain;
  filter: invert(80%);
}
.style_experiences__wrapper_cards_card_top__jPtEK p:nth-child(2) {
  flex-grow: 1;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.48px;
}
@media (max-width: 850px) {
  .style_experiences__wrapper_cards_card_top__jPtEK p:nth-child(2) {
    width: 100%;
  }
}
.style_experiences__wrapper_cards_card_top__jPtEK p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--small-text-color);
}
.style_experiences__wrapper_cards_card__Rsgkq:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--small-text-color);
}
.style_experiences__LqadY h1 {
  font-family: "Sora";
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.style_experiences__LqadY h1 span {
  font-weight: 800;
}

#style_blackphoto__x4DKb {
  filter: grayscale(100%) !important;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Header/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_shrink__JOoBL {
  transition: 0.2s all;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.style_shrink__JOoBL .style_nav__bNmn6 {
  transition: 0.2s all;
  height: 80px !important;
}

.style_header__Pp4Zg {
  transition: 0.2s all;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Sora";
  z-index: 999;
  padding-left: 12px;
}
.style_header__Pp4Zg .style_nav__bNmn6 {
  transition: 0.2s all;
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style_header__Pp4Zg .style_nav__toggle__r8W1Y {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--p-text-primary);
}
@media (max-width: 850px) {
  .style_header__Pp4Zg .style_nav__toggle__r8W1Y {
    display: flex;
  }
}
.style_header__Pp4Zg .style_nav__bNmn6 .style_indicator__nD4Ou {
  width: 50px;
  height: 3px;
  background-color: var(--p-text-primary);
  position: absolute;
  left: 15px;
  bottom: 25%;
  transform: translateX(-50%);
  border-radius: 25px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
@media (max-width: 850px) {
  .style_header__Pp4Zg .style_nav__bNmn6 .style_indicator__nD4Ou {
    display: none;
  }
}
.style_header__Pp4Zg .style_nav__logo__FvQdN h1 {
  color: var(--p-text-primary);
  cursor: pointer;
}
@media (max-width: 850px) {
  .style_header__Pp4Zg .style_nav__bNmn6 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 90px;
    background-color: var(--primary-color) !important;
    left: -150%;
    right: 0;
    overflow: hidden;
    transition: 0.3s linear;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a {
    display: flex;
    position: fixed;
    width: 100%;
    text-decoration: none !important;
    transition: 0.3s linear;
    left: -150%;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a:nth-child(1) {
    top: 90px !important;
    transition-delay: 0s;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a:nth-child(2) {
    top: 140px !important;
    transition-delay: 0.1s;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a:nth-child(3) {
    top: 190px !important;
    transition-delay: 0.2s;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a:nth-child(4) {
    top: 240px !important;
    transition-delay: 0.3s;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a:nth-child(5) {
    top: 290px !important;
    transition-delay: 0.4s;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a:nth-child(6) {
    top: 340px !important;
    transition-delay: 0.5s;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul a li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    margin: 0 !important;
    max-width: none;
    height: 50px !important;
  }
  .style_header__Pp4Zg .style_nav__bNmn6 ul.style_headerOpen__czKNk a {
    left: 0;
  }
}
.style_header__Pp4Zg .style_nav__bNmn6 ul li {
  float: left;
  list-style: none;
  margin: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: var(--p-text-primary);
}
@media (max-width: 850px) {
  .style_header__Pp4Zg .style_nav__bNmn6 ul li {
    float: none;
    max-width: 200px;
    text-align: center;
  }
}
.style_header__Pp4Zg .style_nav__actions__WFe3R button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--p-text-primary);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Hero/style.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_hero__sSO9p {
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Sora";
}
.style_hero__sSO9p .style_line__zpkWD {
  height: 2px;
  margin-top: 20px;
  width: 100%;
  position: relative;
}
@media (max-width: 850px) {
  .style_hero__sSO9p .style_line__zpkWD {
    display: none;
  }
}
.style_hero__sSO9p .style_line__zpkWD svg {
  width: 100%;
  height: 500px;
  position: absolute;
  top: -250px;
}
.style_hero__sSO9p .style_line__zpkWD svg path {
  stroke: var(--p-text-primary);
  stroke-width: 2px;
  fill: none;
}
.style_hero__sSO9p .style_line__zpkWD .style_box__2VIe_ {
  height: 40px;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 1;
}
.style_hero__sSO9p .style_line__zpkWD .style_box__2VIe_:hover {
  height: 500px;
  top: -250px;
}
.style_hero__wrapper__ACIyj {
  position: relative;
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 850px) {
  .style_hero__wrapper__ACIyj {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}
.style_hero__wrapper__ACIyj .style_herosvg__bONtu {
  position: absolute;
  opacity: 0.75;
  z-index: 0;
}
@media (max-width: 850px) {
  .style_hero__wrapper__ACIyj .style_herosvg__bONtu {
    display: none;
  }
}
.style_hero__wrapper__ACIyj .style_herosvg__bONtu:nth-child(1) {
  top: 40%;
  left: 54%;
}
.style_hero__wrapper__ACIyj .style_herosvg__bONtu:nth-child(2) {
  top: 5%;
  right: 10%;
}
.style_hero__wrapper__ACIyj .style_herosvg__bONtu:nth-child(3) {
  top: 65%;
  right: 1%;
}
.style_hero__wrapper_text__SGeJN {
  width: 40%;
  z-index: 1;
}
@media (max-width: 850px) {
  .style_hero__wrapper_text__SGeJN {
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: start;
    flex-direction: column;
  }
}
.style_hero__wrapper_text__SGeJN h1 {
  max-width: 600px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-transform: capitalize;
  color: var(--p-text-primary);
}
@media (max-width: 850px) {
  .style_hero__wrapper_text__SGeJN h1 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  .style_hero__wrapper_text__SGeJN h1 {
    text-align: center;
    font-size: 32px;
  }
}
.style_hero__wrapper_text__SGeJN h1 span:nth-child(1) {
  font-weight: 800;
}
.style_hero__wrapper_text__SGeJN h1 span:nth-child(2) {
  font-weight: 800;
  color: var(--p-text-primary);
  -webkit-text-fill-color: var(--primary-color); /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px;
}
.style_hero__wrapper_text__SGeJN h1 span:nth-child(3) {
  font-weight: 800;
}
.style_hero__wrapper_text__SGeJN p {
  color: var(--descr-color);
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
@media (max-width: 600px) {
  .style_hero__wrapper_text__SGeJN p {
    text-align: center;
  }
}
.style_hero__wrapper_text_socials__6gf_c {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.style_hero__wrapper_text_socials__6gf_c .style_testingButton__Muk0E {
  position: relative;
  width: 140px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  overflow: hidden;
}
.style_hero__wrapper_text_socials__6gf_c .style_testingButton__Muk0E::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: red;
  transition: width 0.5s, height 0.5s;
}
.style_hero__wrapper_text_socials__6gf_c .style_testingButton__Muk0E:hover::before {
  width: 500px;
  height: 500px;
}
@media (max-width: 600px) {
  .style_hero__wrapper_text_socials__6gf_c {
    justify-content: center;
  }
}
.style_hero__wrapper_text_socials_social__NkEm3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 22px;
  color: var(--p-text-primary);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--p-text-primary);
  cursor: pointer;
}
@media (max-width: 600px) {
  .style_hero__wrapper_text_socials_social__NkEm3 {
    width: 55px;
    height: 55px;
  }
}
.style_hero__wrapper_text_socials_social__NkEm3 span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.style_hero__wrapper_text_socials_social__NkEm3::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  background-color: var(--p-text-primary);
  -webkit-clip-path: circle(3rem at 50% 200%);
          clip-path: circle(3rem at 50% 200%);
}
@media (max-width: 600px) {
  .style_hero__wrapper_text_socials_social__NkEm3::before {
    -webkit-clip-path: circle(3.75rem at 50% 200%);
            clip-path: circle(3.75rem at 50% 200%);
  }
}
.style_hero__wrapper_text_socials_social__NkEm3:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
.style_hero__wrapper_text_socials_social__NkEm3:not(:hover)::before {
  animation-name: style_animateBtnBg__fHVvH;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.style_hero__wrapper_text_socials_social__NkEm3:hover {
  color: var(--primary-color);
}
.style_hero__wrapper_image__YPa3l {
  width: 55%;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 0;
}
@media (max-width: 850px) {
  .style_hero__wrapper_image__YPa3l {
    width: 100%;
    margin: 20px 0 -10px 0 !important;
  }
}
.style_hero__wrapper_image__YPa3l img {
  width: 100% !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  border: 3px solid var(--p-text-primary);
  height: 100vh !important;
  filter: grayscale(90%) !important;
  transform: scaleX(-0.99) !important;
}
@media (max-width: 850px) {
  .style_hero__wrapper_image__YPa3l img {
    height: auto !important;
  }
}

@keyframes style_animateBtnBg__fHVvH {
  0% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
  99.9% {
    -webkit-clip-path: circle(3rem at 50% -200%);
            clip-path: circle(3rem at 50% -200%);
  }
  100% {
    -webkit-clip-path: circle(3rem at 50% 200%);
            clip-path: circle(3rem at 50% 200%);
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Skills/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_skills__caJ6_ {
  width: 100%;
  background-color: var(--primary-color);
  font-family: "Sora";
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.style_skills__wrapper__MZ0Ah {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.style_skills__wrapper__MZ0Ah h1 {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  color: var(--p-text-primary);
}
.style_skills__wrapper__MZ0Ah h1 span {
  font-weight: 800;
}
.style_skills__wrapper__MZ0Ah h1 svg {
  transform: scale(0.75);
}
@media (max-width: 457px) {
  .style_skills__wrapper__MZ0Ah h1 svg {
    display: none;
  }
}
.style_skills__wrapper__MZ0Ah h1 svg:nth-child(1) {
  transform: scale(0.75) rotate(160deg);
}
@media (max-width: 550px) {
  .style_skills__wrapper__MZ0Ah h1 svg:nth-child(1) {
    transform: scale(0.3) rotate(160deg);
  }
}
@media (max-width: 550px) {
  .style_skills__wrapper__MZ0Ah h1 svg {
    transform: scale(0.3);
  }
}
.style_skills__wrapper_cards__G7Ama {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 3rem;
}
@media (max-width: 461px) {
  .style_skills__wrapper_cards__G7Ama {
    justify-content: center;
  }
}
.style_skills__wrapper_cards__G7Ama svg {
  position: absolute;
}
@media (max-width: 850px) {
  .style_skills__wrapper_cards__G7Ama svg {
    display: none;
  }
}
.style_skills__wrapper_cards__G7Ama svg:nth-child(1) {
  bottom: 0%;
  left: 0%;
  transform: scale(0.75);
}
.style_skills__wrapper_cards__G7Ama svg:nth-child(2) {
  top: -7%;
  right: 2%;
}
.style_skills__wrapper_cards_card__MdU5I {
  position: relative;
  transition: 0.3s linear;
}
.style_skills__wrapper_cards_card__MdU5I:hover .style_skills__wrapper_cards_card_content__BYr3n {
  color: var(--text-hover) !important;
}
.style_skills__wrapper_cards_card__MdU5I:hover .style_skills__wrapper_cards_card_content__BYr3n h1 {
  color: var(--text-hover) !important;
}
.style_skills__wrapper_cards_card__MdU5I:hover .style_skills__wrapper_cards_card_content__BYr3n:before {
  -webkit-clip-path: circle(100%) !important;
          clip-path: circle(100%) !important;
}
.style_skills__wrapper_cards_card_content__BYr3n {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 185px;
  height: 185px;
  border: 2px solid var(--p-text-primary);
  border-radius: 4px;
  color: var(--p-text-primary);
  z-index: 3 !important;
  transition: 0.1s linear;
}
@media (max-width: 457px) {
  .style_skills__wrapper_cards_card_content__BYr3n {
    width: 220px;
    height: 220px;
  }
}
.style_skills__wrapper_cards_card_content__BYr3n::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--p-text-primary);
  -webkit-clip-path: circle(4rem at 0% 0%);
          clip-path: circle(4rem at 0% 0%);
  z-index: -1;
  transition: 0.3s linear;
}
.style_skills__wrapper_cards_card_content__BYr3n svg {
  position: relative;
}
@media (max-width: 850px) {
  .style_skills__wrapper_cards_card_content__BYr3n svg {
    display: flex;
  }
}
.style_skills__wrapper_cards_card_content__BYr3n h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: var(--p-text-primary);
  transition: all 0.1s linear;
}
.style_skills__wrapper_cards_card_outer__AuXoY {
  width: 193px;
  height: 193px;
  border: 2px solid var(--p-text-primary);
  position: absolute;
  top: -8px;
  left: 0px;
  border-radius: 4px;
  z-index: 0 !important;
}
@media (max-width: 457px) {
  .style_skills__wrapper_cards_card_outer__AuXoY {
    width: 230px;
    height: 230px;
    top: -10px;
  }
}
.style_skills__wrapper_cards_card_outer2__CHMBt {
  width: 193px;
  height: 193px;
  border: 2px solid var(--p-text-primary);
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 4px;
  z-index: 0 !important;
}
@media (max-width: 457px) {
  .style_skills__wrapper_cards_card_outer2__CHMBt {
    width: 230px;
    height: 230px;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format('embedded-opentype'), url(/_next/static/media/slick.653a4cbb.woff) format('woff'), url(/_next/static/media/slick.6aa1ee46.ttf) format('truetype'), url(/_next/static/media/slick.f895cfdf.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Clients/slider.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.testimonials-slider .slick-prev,
.testimonials-slider .slick-next {
  display: none !important;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Clients/style.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_testimonials__AuYXN {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.style_testimonials_card__xAD5I {
  padding: 0 10px;
  margin: 40px 0;
}

.style_testimonials_card_style__u9n1z {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: var(--text-hover);
  color: var(--card-color);
  border-radius: 5px;
}

.style_testimonials_card_header__UUc1y {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--card-color);
  color: var(--text-hover);
  padding: 20px 10px;
  border-radius: 4px 4px 0 0;
}

.style_testimonials_card_descr__aoFQ3 {
  margin: 24px 0;
  font-size: 16px;
  font-style: normal;
  padding: 0 10px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.32px;
}

.style_testimonials_card_rate__DR2vb {
  padding-left: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.style_testimonials_card_rate__DR2vb b:last-child {
  color: rgb(255, 238, 0);
  font-size: 19px;
  display: flex;
  gap: 20px;
}

.style_slick-prev__0Xs_a,
.style_slick-next__7I_2B {
  display: none !important;
  z-index: -9 !important;
}

.style_slick-dots__XNpiv li > button {
  font-size: 15px;
}

.style_testimonials__AuYXN h1 {
  text-align: center;
  color: var(--card-color);
  font-family: "Sora";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.style_testimonials__AuYXN h1 span {
  font-weight: 800;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Statistics/style.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_statistics__hwSX1 {
  width: 100%;
  background-color: var(--secondary-color);
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.style_statistics__wrapper__PmdOX {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.style_statistics__wrapper__PmdOX h1 {
  text-align: center;
  font-family: "Sora";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
  color: #fff;
}
.style_statistics__wrapper__PmdOX h1 span {
  font-weight: 800;
}
.style_statistics__wrapper_stats__WLHn9 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}
.style_statistics__wrapper_stats_stat__srwRv {
  position: relative;
  width: calc(25% - 1rem);
  display: flex;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
  height: 200px;
  color: white;
  flex-grow: 1;
  gap: 2rem;
}
.style_statistics__wrapper_stats_stat__srwRv p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  -webkit-backdrop-filter: blur(3px) brightness(75%);
          backdrop-filter: blur(3px) brightness(75%);
}
.style_statistics__wrapper_stats_stat__srwRv h1 {
  font-size: 82px;
  font-weight: 800;
  color: black;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Contact/style.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_contact__P_Y_5 {
  padding: 40px 0;
}

.style_contact_row__lqyuB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.style_contact_row_side__c5L4g {
  width: 50%;
}

.style_mask_input__hc_tG::placeholder {
  color: var(--card-color);
}

.style_input_field__4t74w:nth-of-type(3) label {
  position: absolute;
  top: 100%;
  left: 15px;
  transform: translateY(50%);
  color: transparent !important;
  background: transparent !important;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}

.style_input_field__4t74w {
  position: relative;
  margin: 25px 0;
}

.style_input_field__4t74w input {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid var(--card-color);
  background: transparent;
  color: var(--card-color);
  outline: none;
}

.style_input_field__4t74w textarea {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  font-size: 20px;
  padding: 15px;
  border: 2px solid var(--card-color);
  background: transparent;
  color: var(--card-color);
  outline: none;
  resize: none;
}

.style_input_field__4t74w label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--card-color);
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}

.style_textarea_label__YRq4K {
  top: 20% !important;
}

.style_input_field__4t74w input:focus {
  border: 2px solid var(--card-color);
}

.style_input_field__4t74w textarea:focus {
  border: 2px solid var(--card-color);
}

.style_input_field__4t74w input:focus ~ label,
.style_input_field__4t74w input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 4px;
  background: var(--transparent-color);
  color: var(--card-color);
}

.style_input_field__4t74w textarea:focus ~ label,
.style_input_field__4t74w textarea:valid ~ label {
  top: -2% !important;
  left: 15px;
  font-size: 18px;
  font-weight: 600;
  color: var(--card-color);
  padding: 0 4px;
  background: var(--transparent-color);
}

.style_input_field__4t74w:nth-of-type(3) input:focus ~ label {
  transition: 0.2s all;
  display: block;
  top: -2% !important;
  left: 15px !important;
  font-size: 18px !important;
  transform: translateY(-50%) !important;
  font-weight: 600 !important;
  color: var(--card-color) !important;
  padding: 0 4px !important;
  background: var(--transparent-color) !important;
}

.style_contact__wrapper_text_socials__rWvkQ {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: -15px;
}

.style_contact_submit_button__RTGnU {
  min-width: auto;
  background: var(--card-color);
  border: none;
  color: var(--primary-color);
  font-size: 19px;
  border-radius: 4px;
  padding: 10px 30px;
  font-weight: 500;
  margin: 0 5px;
}

.style_contact__wrapper_text_socials__rWvkQ button:not(.style_contact_submit_button__RTGnU) {
  background: var(--card-color);
  border: none;
  overflow: hidden;
  color: var(--primary-color);
  font-size: 23px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 0 5px;
}

.style_contact__wrapper_text_socials__rWvkQ span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.style_contact_text__vKSIW h1 {
  color: var(--card-color);
}

.style_contact_text__vKSIW h1 {
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}

.style_contact_text__vKSIW {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.style_contact_text__vKSIW b {
  margin-top: 1rem;
  font-size: 19px;
  color: var(--card-color);
}

.style_contact_text__vKSIW p {
  color: var(--descr-color);
  font-size: 16px;
  font-style: normal;
  margin: 20px 0;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.style_contact_text__vKSIW h1:last-child {
  margin-top: 10px;
}

@media (max-width: 850px) {
  .style_contact_row__lqyuB {
    display: flex;
    flex-direction: column-reverse;
  }
  .style_contact_row__lqyuB .style_contact_text__vKSIW h1 {
    font-size: 42px;
  }
  .style_contact_row_side__c5L4g {
    width: 100%;
  }
  .style_contact_row_side__c5L4g:last-child {
    margin-top: 30px;
    margin-bottom: -30px;
  }
  .style_contact_text__vKSIW h1:first-child {
    text-align: center;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
  .style_contact__wrapper_text_socials__rWvkQ {
    display: block;
  }
  .style_contact_submit_button__RTGnU {
    width: 100% !important;
    margin-bottom: 20px;
    margin-left: -1px;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Card/style.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_cardContainer__Mh2lO {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.style_cardContainer__Mh2lO .style_card__Hoqzz {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  width: 100%;
  border-radius: 25px;
  padding: 50px;
  transform-origin: top;
  box-shadow: rgba(0, 0, 0, 0.355) 0px 3px 8px;
}
@media (max-width: 850px) {
  .style_cardContainer__Mh2lO .style_card__Hoqzz {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .style_cardContainer__Mh2lO .style_card__Hoqzz {
    width: 97%;
  }
}
@media (max-width: 500px) {
  .style_cardContainer__Mh2lO .style_card__Hoqzz {
    padding: 20px;
  }
}
.style_cardContainer__Mh2lO .style_card__Hoqzz h1 {
  text-align: center;
  margin: 0px;
  font-size: 34px;
  font-weight: 600;
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}
@media (max-width: 650px) {
  .style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM {
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 20px;
  }
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_description__ZUQ1L {
  width: 40%;
  position: relative;
  top: 10%;
}
@media (max-width: 650px) {
  .style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_description__ZUQ1L {
    width: 100%;
  }
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_description__ZUQ1L p {
  font-size: 19px;
  font-weight: 500;
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_description__ZUQ1L span {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  margin-top: 20px !important;
  font-size: 32px;
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_imageContainer__TZm5u {
  position: relative;
  width: 60%;
  height: 85%;
  max-height: 300px;
  object-fit: contain !important;
  border-radius: 25px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_imageContainer__TZm5u {
    width: 100%;
  }
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_imageContainer__TZm5u .style_inner___db9J {
  width: 100%;
  height: 100%;
}
.style_cardContainer__Mh2lO .style_card__Hoqzz .style_body__EmdQM .style_imageContainer__TZm5u img {
  object-fit: cover !important;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/components/Footer/style.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_footer__2ozwy {
  background: #000;
  color: #fff;
  padding: 25px 0 20px 0;
}

.style_footer_row__V62gD {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .style_footer_row__V62gD {
    display: block;
    text-align: center;
  }
  .style_footer_side__DAiHD {
    margin: 10px 0;
  }
  .style_footer_side__DAiHD h1 {
    font-size: 23px;
  }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Loader/style.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  opacity: 1;
  transition: opacity 1s;
}

.loader span {
  font-size: 30px;
  font-weight: bold;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
/* 
.loader_container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
} */

@media (max-width: 700px) {
  .loader span {
    font-size: 24px;
  }
}

