/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* styles */
@import url("./layout/layout.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  transition: 0.5s all;
  -webkit-appearance: none;
  width: 5px;
  top: 0;
  right: 0;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-track {
  background: #ddd;
}

.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}

.theme-color {
  color: #1c69f9;
}

.section-title {
  position: relative;
  color: #1c69f9;
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-title::before {
  content: "";
  position: absolute;
  margin-top: 10px;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: #1c69f9;
  transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  margin-top: 10px;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #1c69f9;
  transform: translateX(-50%);
}

@media (max-width: 1020px) {
  .row {
    display: block;
    text-align: center;
  }
  .row div {
    width: 100%;
  }
}
